/* به انتهای فایل style.css اضافه کن: */

/* ===== ستاره‌های صفر ===== */
.star-zero {
    color: var(--border-light) !important;
    opacity: 0.3 !important;
    text-shadow: none !important;
}

.dark-mode .star-zero {
    color: var(--border-dark) !important;
}
